.popup__input-error {
	font-size: 12px;
	color: #ff0000;
	opacity: 0;
	transition: opacity 0.3s ease-in-out;
	visibility: hidden;
	display: block;
	min-height: 30px;
	font-weight: 400;
	line-height: 15px;
}

.popup__error_visible {
	visibility: visible;
	opacity: 1;
}
