.popup__button_disabled {
	border: 1px solid #000;
	opacity: 0.2;
	background-color: transparent;
	color: #000000;
}

.popup__button_disabled:hover {
	background: transparent;
	cursor: pointer;
}

.popup__input_type_error {
	border-bottom-color: #ff0000;
}
